<%@page contentType="text/html" pageEncoding="UTF-8"%>
<%@taglib prefix="c" uri="http://java.sun.com/jstl/core_rt"%>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Ranking</title>
    </head>
    <body>
        <form action="topicos">
            <input type="hidden" name="login" value="${param.login}"/>
            <input id="voltar" type="submit" value="voltar">
        </form>
        <h1>Confira sua pontuação e colocação no ranking</h1>
        <table style="width:50%">
            <tr>
                <th>Colocação</th>
                <th>Nome</th>
                <th>nickName</th>
                <th>Pontuação</th>
            </tr>
            <c:forEach var="item" items="${ranking}" >
            <tr>
                <td id="${item.colocacao}">${item.colocacao}</td>        
                <td id="${item.nome}">${item.nome}</td>
                <td id="${item.login}">${item.login}</td>
                <td id="pontos_${item.login}">${item.pontos}</td>
            </tr>
            </c:forEach>
        </table>
    </body>
</html>
